<%- include('header') -%>

  <div class="heading-row mb-20">
    <div class="row align-item-center">
       <div class="col-lg-6">
          <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-phone"></i></span> Contact List </h3>
       </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th width="10%">S. No.</th>
                <th width="10%">Unique ID</th>
                <th width="10%">Name</th>
                <th width="20%">Email</th>
                <th width="40%">Message</th>
                <th width="10%">Status </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>12264</td>
                <td>Nawaj Shekh</td>
                <td>nawaj@gmail.con</td>
                
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                <td class="text-danger">Pending</td>
                
                
              </tr>
              <tr>
                <td>2</td>
                <td>12264</td>
                <td>Nawaj Shekh</td>
                <td>nawaj@gmail.con</td>
                
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                <td class="text-warning">WIP</td>
                
                
              </tr>
             <tr>
                <td>3</td>
                <td>12264</td>
                <td>Nawaj Shekh</td>
                <td>nawaj@gmail.con</td>
                
                <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </td>
                <td class="text-success">Resolved</td>
                
                
              </tr>

              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') -%>

  <script>
$(document).ready( function () {
  $('.table').DataTable();
} );
</script>