<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span> Dashboard </h3>
</div>
<div class="row align-items-center">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-single-color card-img-holder text-white">
      <a href="user-management-list.php">
         <div class="card-body">
          <img src="assets/images/other/circle.svg" class="card-img-absolute" alt="circle-image" />
          <h4 class=" dashboard-box-new mb-3">User <br> Management <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
          </h4>
          
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-single-color card-img-holder text-white">
      <a href="transaction-history.php">
      <div class="card-body">
        <img src="assets/images/other/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="dashboard-box-new mb-3">Transaction <br> Management <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
       
      </div>
    </a>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-single-color card-img-holder text-white">
      <a href="KYC-management.php">
      <div class="card-body">
        <img src="assets/images/other/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="dashboard-box-new mb-3">KYC <br> Management <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
       
      </div>
    </a>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-single-color card-img-holder text-white">
      <a href="privacy-policy.php">
      <div class="card-body">
        <img src="assets/images/other/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="dashboard-box-new mb-3">Privacy <br> Policy <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        
      </div>
    </a>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-single-color card-img-holder text-white">
      <a href="transaction-history.php">
      <div class="card-body">
        <img src="assets/images/other/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="dashboard-box-new mb-3">Terms and <br> Condition <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        
      </div>
    </a>
    </div>
  </div>
   <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-single-color card-img-holder text-white">
      <a href="transaction-history.php">
      <div class="card-body">
        <img src="assets/images/other/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h4 class="dashboard-box-new mb-3">Frequently Asked Questions (FAQs)  <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        
      </div>
    </a>
    </div>
  </div>
</div>

       