<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav ">
    
    <li class="nav-item">
      <a class="nav-link" href="dashboard.php">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-apps menu-icon"></i>
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title">Legal</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-hammer menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic1">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="faq-list.php">FAQs</a></li>
          <li class="nav-item"> <a class="nav-link" href="terms-n-conditons.php">Terms & Conditions</a></li>
          <li class="nav-item"> <a class="nav-link" href="privacy-policy.php">Privacy Policy</a></li>
        </ul>
      </div>
    </li>
     
     <li class="nav-item">
      <a class="nav-link" href="user-management-list.php">
        <span class="menu-title">User Management</span>
        <i class=" mdi mdi-account menu-icon"></i>
      </a>
    </li>

   <!--  <li class="nav-item">
      <a class="nav-link" href="view-user.php">
        <span class="menu-title">View User</span>
        <i class=" mdi mdi-account-search menu-icon"></i>
      </a>
    </li> -->

    <!--  <li class="nav-item">
      <a class="nav-link" href="edit-user.php">
        <span class="menu-title">Edit User</span>
        <i class="mdi mdi-account-edit menu-icon"></i>
      </a>
    </li> -->

     <li class="nav-item">
      <a class="nav-link" href="transaction-history.php">
        <span class="menu-title">Transaction Management</span>
        <i class="mdi mdi-clipboard-check menu-icon"></i>
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="KYC-management.php">
        <span class="menu-title">KYC Management</span>
        <i class="mdi mdi-sim menu-icon"></i>
      </a>
    </li>

     <!--  <li class="nav-item">
      <a class="nav-link" href="view-KYC.php">
        <span class="menu-title">View KYC</span>
        <i class="mdi mdi-file-find menu-icon"></i>
      </a>
    </li> -->

  </ul>
</nav>