<!DOCTYPE html>
<html>
<head>
     <title>The Ethereum Buckeye Token</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
    <!-- slick CSS -->
    <link href="../assets/css/slick.css" rel="stylesheet"/>
    <link href="../assets/css/slick-theme.css" rel="stylesheet"/>
  <!-- Animate CSS -->
    <link href="../assets/css/animate.css" rel="stylesheet"/>
    <!-- hover-min CSS -->
    <link href="../assets/css/hover-min.css" rel="stylesheet"/>
    <!-- yamm css -->
    <link href="../assets/css/yamm.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="../assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- Font-awesome web fonts with css -->
    <!-- loader css -->
    <link href="../assets/css/loader.css" rel="stylesheet"/>
  <!-- Custom CSS -->
   <!--  <link href="assets/css/custom-home-new.css" rel="stylesheet"/> -->
    <link href="../assets/css/custom-login.css" rel="stylesheet"/>
 

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="../assets/css/jquery-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
</head>
<body class="index-body">



<section class="login-sec">
    <div class="logo-box">
        <img src="../assets/images/logo-white.png" class="color-logo" alt=" Logo">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="login-form-box">
                    <h2>Login</h2>
                    
                    <form action="/submit-details" method="post" id="loginform">

                      
                    <div class="form-group">
                        <label >Email address</label>
                        <input name="email" type="email" class="form-control" placeholder="yourmail@gmail.com">
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input name="password" type="password" class="form-control" placeholder="*********">
                      </div>

                    
                      <p class="text-right forgot-link"><a href="/forgot-pass">Forgot your Password?</a></p>
                      <div>
                        <button class="purple-btn-index" type="submit">Login</button>
                         <!-- <button class="purple-btn-index">Login</button> -->
                      </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</section>




	<!-- JQuery -->
        <script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script> -->
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
        <!-- dropdownhover effects JavaScript -->
        <script type="text/javascript" src="../assets/js/bootstrap-dropdownhover.min.js"></script>
        <!-- wow JavaScript -->
        <script type="text/javascript" src="../assets/js/wow.min.js"></script>
        <!-- slick JavaScript -->
        <script type="text/javascript" src="../assets/js/slick.js"></script>
         <script type="text/javascript" src="../assets/js/slick.min.js"></script>

        <!-- Custom JavaScript -->
        <script type="text/javascript" src="../assets/js/custom.js"></script>

    </body>
</html>



 