<%- include('uheader');%>


  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>
      </span> Create Wallet
    </h3>
  </div>

  <div class="row dash-inner-sec">
    <div class="col-lg-12 col-md-12">
      <div class="">
        <div class="create-wallet-block">

          <div class="option-outer">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="option-inner">
                  <img src="assets/images/other/create-wallet.png" alt="wallet icon">
                  <h5>Yes Let's get set up.</h5>
                  <p>This will create a new wallet.</p>
                  <div class="text-center mlti-btn">
                    <a href="/Create-wallet" class="btn btn-common light-green">Create Wallet</a>
                  </div>
                </div>

              </div>
              <div class="col-lg-6 col-md-12">
                <div class="card steps-card text-center for-all-pages">
                  <div class="card-content collapse show">
                    <div class="card-body">
                      <div class="font-small-3 token-balance clearfix">
                        <h6 class="hbg my-2 text-left">5 step guide</h6>
                        <ol class="text-left four-step-list">
                          <li>Calculate how much tokens you want to buy.</li>
                          <li>Copy/Scan the displayed address</li>
                          <li>Send your BTC to that address. You may send it right from your exchange.</li>
                          <li>Upon transaction confirmation, please fill in your transaction details (Bitcoin Wallet
                            address, Ethereum Wallet address and transaction ID) in the form. We need Ethereum wallet
                            address so that we can transfer POP coins to you.</li>
                          <li>Our team will verify the transaction and will send your POP tokens within 48 hours which
                            will be reflected in your wallet.</li>
                        </ol>

                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('footer');%>