<%- include('header') %>

<div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>
      </span> Refer and Earn </h3>
  </div>


<section class="dash-inner-sec">
     <div class="row">
             <div class="col-lg-6 col-md-12">
                 <div class="dashboard-box  wow slideInUp">
                     <div class="create-wallet-block">
                      <br>
                      <br>


                           <h3 class="main-heading">Invite friends and  earn <br> free $POP ! </h3> 
                          
                           

                            <h4 class="green-heading mt-3">Each week highest $POP accumulator gets a free NFT <br> in their wallets</h4>
                           
                          <div class="input-group input-dash copy-id-dash mt-3">
                             <input class="form-control" type="text" placeholder="" value="fhjf545353hdfhgkkljdaklj65jkl465lk4646">
                             <a href=""><i class="fa fa-copy"></i></a>
                             <a href=""><i class="fa fa-share"></i></a>
                          
                        </div>
                        <div class="clearfix">
                            <span class=""><b><i class="fa fa-info-circle"></i> Every successful referral, 
                              <br>
                              <br>
                              you get - 50 Points
                              <br>
                              <br>
                              friend gets - 50 Points</b></span>
                          </div>
                          <br>
                          
                        
                        </div>

                 </div>
             </div>
             <div class="col-lg-6">
               <div class="img-box-side">
                 <img src="assets/images/wallet-img.jpg" class="img-fluid">
               </div>
             </div>
        </div>
</section>




<%- include('footer') %>