<%- include('header') %>
<div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>
      </span> Send History </h3>
  </div>
<div class="row">
             <div class="col-lg-6 col-md-12">
                 <div class="dashboard-box">
                     <div class="create-wallet-block">
                            <div class="for-history-icon">
                              <img src="assets/images/icons/send.png">
                              <h4 class="total-rwn wow slideInRight">1.0000 $POP</h4>
                            </div>
                          <div class="row">
                                <div class="col-md-12 table-transaction-row">
                                  <div class="table-responsive">
                                       <table class="table">
                                           <tbody>
                                               <tr>
                                                   <td width="40%">To</td>
                                                   <td width="60%">1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX</td>
                                               </tr>
                                                <tr>
                                                   <td width="40%">Fee</td>
                                                   <td width="60%">0.0096 TOKEN</td>
                                               </tr>
                                               <tr>
                                                   <td width="40%">Date/Time</td>
                                                   <td width="60%">5 July 2018, 10:00 AM</td>
                                               </tr>
                                               <tr>
                                                   <td width="40%">Transaction</td>
                                                   <td width="60%"><a href="" class="color-main">View Transactions</a></td>
                                               </tr>
                                                <tr>
                                                   <td width="40%">Transaction id</td>
                                                   <td width="60%">564448792</td>
                                               </tr>
                                               <tr>
                                                   <td width="40%">Status</td>
                                                   <td width="60%"><span class="completed">Completed</span></td>
                                               </tr>
                                           </tbody>
                                       </table>
                                   </div>
                                </div>
                               </div>
                        </div>
                 </div>
             </div>
        </div>


        <%- include('footer') %>