<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images2/favicon.png">
    <!-- Site Title  -->
    <title>Terms &amp; Conditions POP</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets2/css/vendor.bundle.css?ver=101">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets2/css/style.css?ver=101">

</head>

<body class="user-dashboard" style="background: linear-gradient(to right, #ff6c3f 0%, #fe4350 100%);">


    <div class="topbar">
        <div class="topbar-md d-lg-none">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <a href="#" class="toggle-nav">
                        <div class="toggle-icon">
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                            <span class="toggle-line"></span>
                        </div>
                    </a><!-- .toggle-nav -->

                    <div class="site-logo">
                        <a href="/" class="site-brand">
                            <img src="images2/logo.png" alt="logo" srcset="images/logo2x.png 2x">
                        </a>
                    </div><!-- .site-logo -->

                    <!--<div class="dropdown topbar-action-item topbar-action-user">
                        <a href="#" data-toggle="dropdown"> <img class="icon" src="images2/user-thumb-sm.png" alt="thumb"> </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="user-dropdown">
                                <div class="user-dropdown-head">
                                    <h6 class="user-dropdown-name">Stefan Harary <span>(IXIA1A105)</span></h6>
                                    <span class="user-dropdown-email">useremail@example.com</span>
                                </div>
                                <div class="user-dropdown-balance">
                                    <h6>ICO TOKEN BALANCE</h6>
                                    <h3>120,000,000 IC0X</h3>
                                    <ul>
                                        <li>1.240 BTC</li>
                                        <li>19.043 ETH</li>
                                        <li>6,500.13 USD</li>
                                    </ul>
                                </div>
                                <ul class="user-dropdown-btns btn-grp guttar-10px">
                                    <li><a href="#" class="btn btn-xs btn-warning">Confirm Email</a></li>
                                    <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                                </ul>
                                <div class="gaps-1x"></div>
                                <ul class="user-dropdown-links">
                                    <li><a href="account.html"><i class="ti ti-id-badge"></i>My Profile</a></li>
                                    <li><a href="security.html"><i class="ti ti-lock"></i>Security</a></li>
                                    <li><a href="activity.html"><i class="ti ti-eye"></i>Activity</a></li>
                                </ul>
                                <ul class="user-dropdown-links">
                                    <li><a href="login.html"><i class="ti ti-power-off"></i>Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    <!-- .toggle-action -->
                </div><!-- .container -->
            </div><!-- .container -->
        </div><!-- .topbar-md -->
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="topbar-lg d-none d-lg-block">
                    <div class="site-logo">
                        <a href="/" class="site-brand">
                            <img src="images2/logo.png" alt="logo" srcset="images/logo2x.png 2x">
                        </a>
                    </div><!-- .site-logo -->
                </div><!-- .topbar-lg -->

                <div class="topbar-action d-none d-lg-block">
                    <ul class="topbar-action-list">
                        <li class="topbar-action-item topbar-action-link">
                            <a href="/"><em class="ti ti-home"></em> Go to main site</a>
                        </li><!-- .topbar-action-item -->

                        <!--<li class="dropdown topbar-action-item topbar-action-language">
                            <a href="#" data-toggle="dropdown"> EN <em class="ti ti-angle-down"></em> </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">FR</a></li>
                                <li><a href="#">JY</a></li>
                                <li><a href="#">CH</a></li>
                            </ul>
                        </li> .topbar-action-item -->

                        <!--<li class="dropdown topbar-action-item topbar-action-user">
                            <a href="#" data-toggle="dropdown"> <img class="icon" src="images2/user-thumb-sm.png" alt="thumb"> </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="user-dropdown">
                                    <div class="user-dropdown-head">
                                        <h6 class="user-dropdown-name">Stefan Harary <span>(IXIA1A105)</span></h6>
                                        <span class="user-dropdown-email">useremail@example.com</span>
                                    </div>
                                    <div class="user-dropdown-balance">
                                        <h6>ICO TOKEN BALANCE</h6>
                                        <h3>120,000,000 IC0X</h3>
                                        <ul>
                                            <li>1.240 BTC</li>
                                            <li>19.043 ETH</li>
                                            <li>6,500.13 USD</li>
                                        </ul>
                                    </div>
                                    <ul class="user-dropdown-links">
                                        <li><a href="account.html"><i class="ti ti-id-badge"></i>My Profile</a></li>
                                        <li><a href="security.html"><i class="ti ti-lock"></i>Security</a></li>
                                        <li><a href="activity.html"><i class="ti ti-eye"></i>Activity</a></li>
                                    </ul>
                                    <ul class="user-dropdown-links">
                                        <li><a href="login.html"><i class="ti ti-power-off"></i>Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li> .topbar-action-item -->
                    </ul><!-- .topbar-action-list -->
                </div><!-- .topbar-action -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- TopBar End -->


    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">
                <!--<div class="user-sidebar">
                    <div class="user-sidebar-overlay"></div>
                    <div class="user-box d-none d-lg-block">
                        <div class="user-image">
                            <img src="images2/user-thumb-lg.png" alt="thumb">
                        </div>
                        <h6 class="user-name">Stefan Harary</h6>
                        <div class="user-uid">Unique ID: <span>IXIA1A105</span></div>
                        <ul class="btn-grp guttar-10px">
                            <li><a href="#" class="btn btn-xs btn-warning">Confirm Email</a></li>
                            <li><a href="kyc.html" class="btn btn-xs btn-warning">KYC Pending</a></li>
                        </ul>
                    </div> .user-box
                    <ul class="user-icon-nav">
                        <li><a href="index.html"><em class="ti ti-dashboard"></em>Dashboard</a></li>
                        <li><a href="kyc.html"><em class="ti ti-files"></em>KYC Application</a></li>
                        <li><a href="tokens.html"><em class="ti ti-pie-chart"></em>Contributions</a></li>
                        <li><a href="transactions.html"><em class="ti ti-control-shuffle"></em>Transactions</a></li>
                        <li><a href="referrals.html"><em class="ti ti-infinite"></em>Referral</a></li>
                        <li><a href="account.html"><em class="ti ti-user"></em>Account</a></li>
                        <li><a href="security.html"><em class="ti ti-lock"></em>Security</a></li>
                    </ul> .user-icon-nav
                    <div class="user-sidebar-sap"></div> .user-sidebar-sap 
                    <ul class="user-nav">
                        <li><a href="how-to.html">How to buy?</a></li>
                        <li><a href="faq.html">Faqs</a></li>
                        <li><a href="#">Whitepaper</a></li>
                        <li>Contact Support<span>info@icocrypto.com</span></li>
                    </ul> .user-nav 
                    <div class="d-lg-none">
                        <div class="user-sidebar-sap"></div>
                        <div class="gaps-1x"></div>
                        <ul class="topbar-action-list">
                            <li class="topbar-action-item topbar-action-link">
                                <a href="#"><em class="ti ti-home"></em> Go to main site</a>
                            </li> .topbar-action-item 
                            <li class="dropup topbar-action-item topbar-action-language">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true"> EN <em class="ti ti-angle-up"></em> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">FR</a></li>
                                    <li><a href="#">JY</a></li>
                                    <li><a href="#">CH</a></li>
                                </ul>
                            </li> .topbar-action-item 
                        </ul> .topbar-action-list 
                    </div>
                </div>.user-sidebar -->

                <div class="user-content">
                    <div class="user-panel">
                        <h2 class="user-panel-title">Terms &amp; Conditions</h2>
                        <div class="user-panel-content">
                            <p><strong>POP may revise and update this Legal terms at any time and without notice. You
                                    are cautioned to review the Legal Notice posted on this website periodically. Your
                                    continued use of the website will constitute a deemed acceptance of those
                                    changes.</strong></p>
                            <h6 style="color: black;">Important</h6>
                            <p>Material contained within the POP energy, other related companies' website is for
                                information purposes only and is not intended to constitute an offering of securities in
                                any jurisdiction. Information disclosed under the corporate and securities laws of any
                                jurisdictions applicable to POP is not intended to be in any way qualified, amended,
                                modified or supplemented by the information available in, through or on this website.
                                Due to the technical and security risks inherent on the internet, and because the
                                document you access may differ from the original depending on your browser software, the
                                information set out in this website should not be used for the purpose of making
                                investment decisions with respect to POP coins.</p>
                            <h6 style="color: black;">Disclaimer of Warranties</h6>
                            <p>POP maintains this website for information purposes only as a service to its customers
                                and the internet community. POP will use reasonable efforts to include accurate,
                                relevant and up to date at the time it is posted. POP does not warrant or make any
                                representations or claims as to the accuracy, adequacy completeness and currency or
                                otherwise of the information (including any software algorithms, text, hyperlinks or
                                graphics) provided at this site including warranties of merchantability,
                                non-infringement of intellectual property rights, third-party rights, title, latent
                                defects, uninterrupted service, fitness for any particular purpose or freedom from
                                computer viruses.</p>
                            <p>In no event shall POP be liable or responsible for any claim, losses or damage, whether
                                direct, special, indirect, moral or consequential, loss of profits or opportunities or
                                legal expenses arising out of the interpretation, reliance upon or other use, authorized
                                or unauthorized, of such information, even if POP is advised of the possibility of such
                                damages, losses or expenses. Information may be changed or updated without notice.</p>
                            <h6 style="color: black;">General Information</h6>
                            <p>The POP token for sale does not have the legal qualification of a security, since it does
                                not give any rights to dividends or interests. The sale of such tokens is final and
                                non-refundable under any circumstances whatsoever. Such tokens are not shares and do not
                                give any right to participate to the general meeting.</p>
                            <p>POP Tokens cannot have a performance or a particular value outside our network, hence
                                these tokens are not to be used or purchased for speculative or investment purposes. The
                                purchaser of tokens is aware that national securities laws, which ensure that investors
                                are sold investments that include all the proper disclosures and are subject to
                                regulatory scrutiny for the investors' protection, are not applicable. Anyone purchasing
                                our token expressly acknowledges and represents that she/he has carefully reviewed
                                whitepaper and fully understands the risks, costs and benefits associated with the
                                purchase of the token.</p>
                            <h6 style="color: black;">General Knowledge</h6>
                            <p>The purchaser of POP Token undertakes that she/he understands and has significant
                                experience of cryptocurrencies, blockchain systems and services, and that she/he fully
                                understands the risks associated with the crowdsale as well as the mechanism related to
                                the use of cryptocurrencies (incl. storage) in their respective geographies. POP Energy
                                or any of the related parties or management or any employee shall not be responsible for
                                any loss of tokens or situations making it impossible to access their tokens, like loss
                                of passwords or any other actions which may result from any actions or omissions of the
                                user or any person undertaking to acquire such tokens, as well as in case of hacker
                                attacks.</p>
                            <h6 style="color: black;">Risks</h6>
                            <p>Acquiring POP tokens and storing them involves various risks, in particular the risk that
                                POP energy may not be able to launch its operations and develop its blockchain and
                                provide the services promised. Therefore, and prior to acquiring tokens, any user should
                                carefully consider the risks, costs and benefits of acquiring such tokens in the context
                                of the crowdsale and, if necessary, obtain any independent advice in this regard. Any
                                interested person who is not in the position to accept or to understand the risks
                                associated with the activity (incl. the risks related to the non-development of our
                                platform, or licenses to operate) or any other risks as indicated in the Terms &
                                Conditions should NOT acquire our tokens.</p>
                            <h6 style="color: black;">Forward-looking Information</h6>
                            <p>Certain information contained on this website is forward-looking information and relates
                                to, among other things, targeted cost savings, anticipated financial performance,
                                business prospects and strategies.</p>
                            <h6 style="color: black;">Links to Third-party</h6>
                            <p>POP does not control any third-party website and is therefore not responsible for the
                                accuracy of the content of any linked website or any link contained in a linked website.
                                POP provides such links only as a convenience and the inclusion of any link does not
                                imply endorsement, investigation or verification by POP of the linked website or
                                information contained therein. Use of such third-party websites will be solely at your
                                risk. POP will not be liable to you for any claims, losses or damages suffered resulting
                                from or arising out of the interpretation, reliance upon or other use, authorized or
                                unauthorized, of such website or information.</p>
                            <h6 style="color: black;">Copyrights and Trademarks</h6>
                            <p>All material found in the pages of this website is protected under the copyright laws of
                                UK and other countries. Certain names, words, titles, phrases, logos, icons, graphics or
                                designs in the pages of this website may constitute trade names, trademarks or service
                                marks of POP or its subsidiaries, or the use of which may have been licensed to them.
                                The display of trademarks, trade names or service marks on pages of this website does
                                not imply that a license of any kind has been granted to anyone else. Any unauthorized
                                downloading, retransmission, republication or other copying or modification of material
                                posted on this website, including trademarks, trade names and service marks, may violate
                                law, common or civil law trademark law and copyright law, and may result in legal
                                action.</p>
                            <h6 style="color: black;">Internet and E-mail</h6>
                            <p>Visitors to POP's website are reminded that the internet is not yet a fully secure medium
                                and therefore confidentiality and privacy cannot be ensured. POP will not be liable for
                                any damages resulting from the transmission of confidential or personal information.</p>
                            <h6 style="color: black;">Representation and warranties</h6>
                            <p>By Signing up, the purchaser agrees to the above and in particular, they represent and
                                warrant that they : </p>
                            <p> • Have read carefully the Terms & Conditions; agree to their full contents and accept to
                                be legally bound by them .<br>
                                • Are authorized and have full power to purchase POP coins/tokens, according to the laws
                                that apply in their jurisdiction of domicile .<br>
                                • Are not a citizen, resident or entity operating in a country that does not allow
                                cryptocurrency nor are they purchasing tokens or signing on behalf of such a person
                                /entity, who are residents of a country which does not allow them to hold
                                cryptocurrencies .<br>
                                • Are familiar with all related regulations in the specific jurisdiction in which they
                                are based and that purchasing cryptographic tokens in that jurisdiction is not
                                prohibited, restricted or subject to additional conditions of any kind .<br>
                                • Will not use the crowdsale for any illegal activity, including but not limited to
                                money laundering and the financing of terrorism .<br>
                                • Have sufficient knowledge about the nature of the cryptographic tokens and have
                                significant experience with, and functional understanding of, the usage and intricacies
                                of dealing with cryptographic tokens and currencies and blockchain-based systems and
                                services .<br>
                                • Are not purchasing POP Token for the purpose of speculative investment or usage .
                            </p>
                        </div>

                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->


    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <span class="footer-copyright">© <a href="#">Quest Global Technologies, </a> 2021</span>
                </div><!-- .col -->
                <div class="col-md-5 text-md-right">
                    <ul class="footer-links">
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms-condition">Terms &amp; Conditions</a></li>
                    </ul>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div>
    <!-- FooterBar End -->


    <!-- JavaScript (include all script here) -->
    <script src="assets2/js/jquery.bundle.js?ver=101"></script>
    <script src="assets2/js/script.js?ver=101"></script>
</body>

</html>