<!DOCTYPE html>
<html>
<head>
    <title>Rowan Energy</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
  <!-- Animate CSS -->
    <link href="assets/css/animate.css" rel="stylesheet"/>
    <!-- hover-min CSS -->
    <link href="assets/css/hover-min.css" rel="stylesheet"/>
    <!-- yamm css -->
    <link href="assets/css/yamm.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- Font-awesome web fonts with css -->
    <!-- loader css -->
    <link href="assets/css/loader.css" rel="stylesheet"/>
  <!-- Custom CSS -->
    <link href="assets/css/custom.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">

     <link href="assets/css/jquery-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<section class="login-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="signup-inner-box">
          <div class="logo-block">
                  <img src="assets/images/logo.png" align="rowan energy logo">
                </div>
           <div class="row align-item-center">
              <div class="col-lg-6 col-md-5 col-sm-5">
                 <div class="side-img">
                  <img src="assets/images/other/side-img.png" align="side img">
                </div>
              </div>
              
              <div class="col-lg-6 col-md-7 col-sm-7">
                 <div class="main-outer">
                   <div class="signup-outer">
                       <h2>Please enter the code from your Google Authenticator App.</h2>
                       
                        <h4 class="for-login">Secret Code</h4>
                      <form method="post" action="/verify_admin" id="registration">
                        
                        <div class="form-group">
                          <input name="authcode" type="password"  class="form-control" maxlength="6"
                            placeholder="Enter the Secret Code" id="authcode" autocomplete="off" data-rule-required="true" data-msg-required="Please Enter Auth Code.">
                        </div>
                       
                        <div class="btn-gorup">
                          <button type="Submit" class="btn btn-common"
                                   id="submit_signup">Submit</button>
                        </div>
                       <% if(success_msg!=undefined && success_msg !=''){ %>
                      <span class="flash_msg" style="color:green;"><%= success_msg %></span>
                     <% }%>
                     <% if(err_msg!=undefined && err_msg !=''){ %>
                      <span class="flash_msg" style="color:red;"><%= err_msg %></span>
                     <% }%>
                      </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>





        
        <!-- JQuery -->
        <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script> -->
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <!-- dropdownhover effects JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap-dropdownhover.min.js"></script>

        <!-- wow JavaScript -->
        <script type="text/javascript" src="assets/js/wow.min.js"></script>
        <!-- video player JavaScript -->

        <!-- Custom JavaScript -->
        <!-- <script type="text/javascript" src="assets/js/custom.js"></script> -->
    <script src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript">
$('#registration').validate({
      onfocusout: function(element) {
      this.element(element);
      },
      errorClass: 'error_validate',
      errorElement:'span',
      highlight: function(element, errorClass) {
      $(element).removeClass(errorClass);
      },
      submitHandler:function(form)
         {
           $('#submit_signup').attr('disabled',true);
           form.submit();
         }
      });
</script>
<script type="text/javascript">
$(document).ready(function () {
var flash_msg=$('.flash_msg').html();
if(flash_msg!="" && flash_msg!=undefined)
{
setTimeout(function(){ $('.flash_msg').html('');},10000);
}    
});  
</script>
        
<script>
history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>

    </body>
</html>


