 <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            {{!-- <div class="nav-link" style="margin-top: 25px;"> --}}
              {{!-- <div class="user-wrapper"> --}}
                {{!-- <div class="profile-image">
                  <img src="admin_assets/images/faces/face1.jpg" alt="profile image">
                </div> --}}
             {{!--    <div class="text-wrapper">
                  <p class="profile-name">{{Name}}</p>
                  <div>
                    <small class="designation text-muted">Admin</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div> --}}
              {{!-- </div> --}}
             {{!--  <button class="btn btn-success btn-block">New Project
                <i class="mdi mdi-plus"></i>
              </button> --}}
            {{!-- </div> --}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin-dashboard" style="margin-top: 25px;">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registered-users">
              <i class="menu-icon fa fa-id-badge"></i>
              <span class="menu-title">Users List</span>
            </a></li>
             <li class="nav-item">
            <a class="nav-link" href="/admin-rec-list">
              <i class="menu-icon fa fa-id-badge"></i>
              <span class="menu-title">REC Generated</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rec-details">
              <i class="menu-icon fa fa-id-badge"></i>
              <span class="menu-title">REC Details</span>
            </a>
          </li>
           {{!-- <li class="nav-item">
            <a class="nav-link" href="/token_details">
              <i class="menu-icon fa fa-id-badge"></i>
              <span class="menu-title">Update Token Settings</span>
            </a></li> --}}

         {{!--  <li class="nav-item">
            <a class="nav-link" href="/token-setting">
              <i class="menu-icon fa fa-newspaper-o"></i>
              <span class="menu-title">Token Setting</span>
            </a></li> 

            <li class="nav-item">
            <a class="nav-link" href="/basic-settings">
              <i class="menu-icon fa fa-cogs"></i>
              <span class="menu-title">Basic Settings</span>
            </a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="/members-list">
              <i class="menu-icon fa fa-users"></i>
              <span class="menu-title">Team Members</span>
            </a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="/verification-details">
              <i class="menu-icon fa fa-check-circle-o"></i>
              <span class="menu-title">Verification Details</span>
            </a>
          </li>
          
 --}}
           {{!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon fa fa-shopping-cart"></i>
              <span class="menu-title">Pay Ether/Token</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                 <a class="nav-link" href="/send_ether"><i class="fa fa-history" aria-hidden="true" style="font-size:14px;margin-right: 10px;"></i>Send Ether </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/send_token"><i class="fa fa-gift" aria-hidden="true" style="font-size:14px;margin-right: 16px;"></i>Send Token</a>
                </li>
              </ul>
            </div>
          </li>

         <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
              <i class="menu-icon fa fa-shopping-cart"></i>
              <span class="menu-title">Order Details</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic1">
              <ul class="nav flex-column sub-menu"> 
                <li class="nav-item">
                 <a class="nav-link" href="/BTCorderList"><i class="fa fa-history" aria-hidden="true" style="font-size:14px;margin-right: 10px;"></i>BTC Token List</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/ETHorderList"><i class="fa fa-gift" aria-hidden="true" style="font-size:14px;margin-right: 16px;"></i>ETH Token List</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="/USDorderList"><i class="fa fa-gift" aria-hidden="true" style="font-size:14px;margin-right: 16px;"></i>USD Token List</a>
                </li>
              </ul>
            </div>
          </li> --}}
         
          {{!--
           <li class="nav-item">
            <a class="nav-link" href="/news-list">
              <i class="menu-icon fa fa-rss-square"></i>
              <span class="menu-title">News List</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/all-enquiries">
              <i class="menu-icon fa fa-envelope-o"></i>
              <span class="menu-title">Enquiry List</span>
            </a>
          </li> 

      <!--     <li class="nav-item">
            <a class="nav-link" href="/country-list">
              <i class="menu-icon fa fa-globe"></i>
              <span class="menu-title">Country List</span>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link" href="/state-list">
              <i class="menu-icon fa fa-flag"></i>
              <span class="menu-title">State List</span>
            </a>
          </li> 

           <li class="nav-item">
            <a class="nav-link" href="/city-list">
              <i class="menu-icon fa fa-building-o"></i>
              <span class="menu-title">City List</span>
            </a>
          </li>  -->

          <li class="nav-item">
            <a class="nav-link" href="/newsletter-subscribers">
              <i class="menu-icon fa fa-paper-plane-o"></i>
              <span class="menu-title">Newsletter Subscribers</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/mail-setting">
              <i class="menu-icon fa fa-envelope-o"></i>
              <span class="menu-title">Mail Configuration</span>
            </a>
          </li>--}}
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/Rowan-token-history">
              <i class="menu-icon fa fa-check-circle-o"></i>
              <span class="menu-title">Token History</span>
            </a>
          </li> --}}
           {{!--
          <li class="nav-item">
            <a class="nav-link" href="/send_token">
              <i class="menu-icon fa fa-check-circle-o"></i>
              <span class="menu-title">Send Token</span>
            </a>
          </li>
--}}
{{!-- <li class="nav-item">
            <a class="nav-link" href="/all-enquiries">
              <i class="menu-icon ffa-address-book-o "></i>
              <span class="menu-title">Contact Info. List</span>
            </a>
          </li>
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic2">
              <i class="menu-icon fa fa-shopping-cart"></i>
              <span class="menu-title">FAQ</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                 <a class="nav-link" href="/add_faq"><i class="fa fa-history" aria-hidden="true" style="font-size:14px;margin-right: 10px;"></i>Add FAQ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq_list"><i class="fa fa-gift" aria-hidden="true" style="font-size:14px;margin-right: 16px;"></i>FAQ List</a>
                </li>
              </ul>
            </div>
          </li> --}}
          
        </ul>
      </nav>
      <div class="main-panel">
